{% extends '@Gui/layout/layout.twig' %}

{% block section_title %}
    {{ 'Dashboard' | trans }}
{% endblock %}

{% block content %}

{% include '@Dashboard/_partials/quick-actions.twig' only %}

<div class="row">
    {% for pluginContent in pluginContents %}
        <div class="col-lg-6 mb-4">
            {{ pluginContent | raw }}
        </div>
    {% endfor %}
</div>
{% endblock %}
